.editor {
  position: relative;
  width: 100%;
  background-color: var(--gray-900);
  border: 0;
  /* resize: none; */
  height: 6rem;
  /* padding: 1rem; */
  border-radius: 8px;
  overflow: hidden;
  color: var(--gray-100);
  list-style: 1.4;
  margin-top: 1rem;
}

.editor:focus-within {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}
