.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.avatarWithBorder {
 /* fazer com que o elemento ocupe um espaço a mais quando ele possui border/outline e não o esprema para que ele caiba */
  /* box-sizing: initial; */
  /* segundo método (calcular a width/height desejada com o total de borda/outline que o elemento tem */
  width: calc(3rem + 12px); /* border 4px (horiz) + 4px (vert) + outline 2px (horiz) + 2px (vert) */
  height: calc(3rem + 12px);
  /* width: 3rem;
  height: 3rem; */
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}